@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header .line {
    background-color: #FF2828;
    height: 10px;
}
h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 55px;
} 
h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 25px;
}
.members_page{
    position:fixed;
    width: 150px;
    height: 40px;
    border-radius: 45px;
    text-align: center;
    margin:10px;
    background-color: rgba(163, 162, 162, 0.993);
    font-size: 15px;
    font-family: "Roboto",sans-serif;  
    font-weight: bold; 
    
}
.members_page a {
    text-decoration: none;
    color:rgba(61, 61, 61, 0.911);
    letter-spacing: 3px;
}
.members_page a:hover{
    opacity: 50%;
}
.area_content h2 {
    margin-top: 10px;
}
.button {
    display:inline-block;
    border:1px solid #454545;
    border-radius: 8px;
    color:#B4B4B4;
    padding: 10px 40px;
    text-decoration: none;
}
.button:hover {
    color: white;
    background-color: #454545;
}
.bar {
    background-color: #FF2828;
    width: 168px;
    height: 22px;
}
.logo {
    width: 100px;
}
.logoimg{
    border-radius: 40px;
    width: 80px;
    height: 80px;
    background-color: #474646;    
}
.container {
    max-width: 1140px;
    margin: auto;
}
.header-search form {
    display: flex;
}
.header-right {
    display: flex;
    align-items: center;
}
.header--area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.header-search input{
    font-size: 16px;
    padding: 8px 20px;
    border-radius: 10px;
    border:1px solid black;
    outline: none;
    width: 100%;
    max-width: 250px;
}
.header-search button {
    border: 0;
    background-color: transparent;
    margin-left: -30px;
    cursor: pointer;
}
.header-search button img {
    width: 16px;
    height: 16px;
}
.banner {
    margin-top: 40px;
    height:  calc(100vh - 200px);
    background-image: url(../image/slide5.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.banner .sliders {
    width: 100vw;
    height: 100%;
}
.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color:rgba(0,0,0,0.3);
}
.banner .slide-area{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    color: white;
    margin: 150px ;
}
.banner h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
    color: #FF2828;
    -webkit-text-stroke: 1px black;
    text-shadow: 1px black;
}
.banner h2 {
    text-transform: uppercase;
    margin-top: 20px;
}
.banner .sliders-pointers{
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    margin-right: -80px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.banner .ponto {
    width: 15px;
    height: 15px;
    border:1px solid black;
    border-radius: 8px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.banner .ponto.active {
    background-color: #FF2828;
}